each image in locals
    div(class='thumbnail', data-index=image.index)
        img(src=image.small, data-href=image.large)
        span
            =image.date.hour + " : "
            =image.date.minute + " : "
            =image.date.second
