each image in locals
    div(class='thumbnail')
        img(src=image.small, data-href=image.large)
        span
            =image.date.dd + " | "
            =image.date.hour + " : "
            =image.date.minute + " : "
            =image.date.second
