div(class='left')
    span:<<
div(class='right')
    span:>>

img(src=locals.medium)

span
    =locals.date.dd + " | "
    =locals.date.hour + " : "
    =locals.date.minute + " : "
    =locals.date.second