div(class='left')
    span:<<
div(class='right')
    span:>>

img(src=locals.image.medium)

span
    =locals.image.date.mm + " - "
    =locals.image.date.dd + " | "
    =locals.image.date.hour + " : "
    =locals.image.date.minute + " : "
    =locals.image.date.second